<footer class="site-footer">
  <div class="footer-col-wrapper">
    <div class="footer-col col-xs-12 col-md-6">
      <div class="red-bg clearfix">
        <div class="col-xs-3">
          <img class="responsive-image" src="images/sun.png" />
        </div>
        <div class="col-xs-9">
          <h2 class="footer-heading">
            <strong>Auckland</strong>
          </h2>
          <ul class="contact-list">
            <li>Regional Manager, Dave Cave</li>
          </ul>
          <table class="table">
            <tbody>
              <tr>
                <td>Office</td>
                <td><a href="tel:{{ site.phone }}">{{ site.phone }}</a></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td>{{ site.mobile }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="footer-col col-xs-12 col-md-6">
      <div class="green-bg clearfix">
        <div class="inline">

          <div class="col-xs-3">
            <img class="responsive-image" src="images/rain.png" />
          </div>
          <div class="col-xs-9">
            <h2 class="footer-heading">
              <strong>Bay of Plenty</strong>
            </h2>
            <ul class="contact-list">
              <li>Managing Director, Tony van Dam</li>
            </ul>
            <table class="table">
              <tbody>
                <tr>
                  <td>Office</td>
                  <td><a href="tel:{{ site.bop_phone }}">{{ site.bop_phone }}</a></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
                </tr>
                <tr>
                  <td>Post</td>
                  <td>PO Box 56 Waihi Beach,<br /> Waihi Beach 3642</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
