<footer class="site-footer" id="contact">
  <div class="footer-col-wrapper">
    <div class="footer-col col-xs-12 col-md-6">
      <div class="red-bg clearfix">
        <div class="col-xs-12">
          <h2 class="footer-heading inline">
            <strong>General Enquiries</strong>
          </h2>
          <br />
          <br />
        </div>
        <div class="col-xs-9 col-xs-offset-2">
          <table class="table">
            <tbody>
              <tr>
                <td>Mobile</td>
                <td><a href="tel:{{ site.mobile }}">{{ site.mobile }}</td>
              </tr>
              <tr>
                <td>Office</td>
                <td><a href="tel:{{ site.bop_phone }}">{{ site.bop_phone }}</a></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><a href="mailto:admin@totalwp.co.nz">admin@totalwp.co.nz</a></td>
              </tr>
              <tr>
                <td>Post</td>
                <td>PO Box 56 Waihi Beach,<br /> Waihi Beach 3642</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="footer-col col-xs-12 col-md-6">
      <div class="green-bg clearfix">
        <div class="inline">
          <div class="col-xs-3">
            <img class="responsive-image" src="images/tony.jpg" />
          </div>
          <div class="col-xs-9">

            <ul class="contact-list">
              <li>Tony van Dam, Director, Waihi Based</li>
            </ul>
            <table class="table">
              <tbody>
                <tr>
                  <td>Mobile</td>
                  <td><a href="tel:{{ site.mobile }}">{{ site.mobile }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href="mailto:tony@totalwp.co.nz">tony@total.co.nz</a></td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="col-xs-3">
            <img class="responsive-image" src="images/dave.png" />
          </div>
          <div class="col-xs-9">

            <ul class="contact-list">
              <li>Dave Cave, Director, Auckland Based</li>
            </ul>
            <table class="table">
              <tbody>
                <tr>
                  <td>Mobile</td>
                  <td><a href="tel:021915974">021 915 974</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href="mailto:dave@totalwp.co.nz">dave@totalwp.co.nz</a></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
