<header class="site-header clearfix">
  <div class="wrapper">
    <div class="col-sm-3 col-xs-12">
      <a class="site-title" href="home.html">
        <img src="images/twp-logo.png" alt="{{ site.title }}" />
      </a>
    </div>

    <div class="col-xs-12 col-sm-9 site-nav-wrapper">
      <nav class="site-nav">
        <a class="page-link" href="home.html">Home</a>
        <a class="page-link" href="services.html">Services</a>
        <a class="page-link" href="contact.html">Contact</a>
        <a class="page-link" href="location.html">Applications</a>
      </nav>
    </div>
  </div>
</header>

<div class="site-header-contact text-right">
  <div class="wrapper">
    No job too big or too small, call <br class="visible-xs" />
    <a href="tel:{{ site.phone }}"><span class="visible-xs">☎ </span> {{ site.mobile }}</a>
  </div>
</div>
