<header class="site-header clearfix">
  <div class="wrapper">
    <div class="col-xs-12">
      <a class="site-title" href="home.html">
        <img src="images/twp-logo.png" alt="{{ site.title }}" />
      </a>
      <div class="site-nav">
        <a href="/services">
          Home & Residential
        </a>
        <a href="/waterproofing-systems">
          Builders & Architects
        </a>
      </div>
    </div>
  </div>
</header>

<div class="site-header-contact text-right">
  <div class="wrapper  visible-xs">
    No job too big or too small, <br />call
    <a href="tel:+6421626518">☎ {{ site.mobile }}</a>
  </div>
</div>
